@use '../../assets/style/valiable' as v
header
  display: flex
  justify-content: space-between
  align-items: center
  .header__title
      font-size: v.$font-size-xl
      font-weight: v.$font-weight-bold
      padding-left: 32px
  .header__user-action
    display: flex
    gap: 32px
    .header-action
        display: flex
        gap: 25px
        align-items: center
    .line
        background-color: v.$text-gray-light-color
        width: 1.5px
    .header-user-info
      display: flex
      gap: 14px
      align-items: center
      position: relative
      padding: 10px
      cursor: pointer
      .header-user-info-name
        font-weight: v.$font-weight-bold
        font-size: v.$font-size-m
        color: v.$text-gray-dark-color
      .header-user-info__avatar img
        width: 40px
        height: 40px
        border-radius: 50%
