.iconPlay {
    background-color: transparent;
    width: 20px;
    height: 20px;
    display: block;
    border-right: 10px solid rgb(0, 174, 255);
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;  
    transform: translateX(-5px);
}


.iconPause{
    background-color: transparent;
    width: 20px;
    height: 20px;
    display: block;
    border-right: 6px solid rgb(0, 174, 255);
    border-left: 6px solid rgb(0, 174, 255);
}