.card{
    background-color: #fff;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card:hover{
    cursor: pointer;
    background-color: #eee;
}
