.sizeBar{
    grid-row: 1/3;
    padding: 30px 25px 100px 25px;
    display: flex;
    flex-direction: column;
    gap: 40px;

}

.sizeBar-dark{
    background-color: var(--dark-shade-color);
}

.sizeBar-light{
    background-color: var(--gray-1-color);
}

.nav{
    gap:2px;
}
