.card{
    padding: 10px 20px;
    border-radius: 10px;
    display: block;
    flex-direction: row;
    gap: 16px;
}

.card-column{
    flex-direction: column;
}

.card-dark{
    background-color: var(--dark-color);
    color: var(--light-color);
    box-shadow: 0 5px 10px var(--light-color);
}

.card-light{
   background-color:var(--light-color);
   color: var(--dark-color);
   box-shadow: 0 5px 10px var(--dark-color);
}
