:root{
    --red-color: #F12B2C;
    --yellow-color: #FEC400;
    --green-color: #29CC97;
    --blue-color: #3751FF;
    --light-blue-color: #DDE2FF;

    --bg-color: #363740;

    --bg-main-color: #E5E5E5;
}
