.nav{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.navItem{
    gap:12px;
    position: relative;
    height: 48px;
    
}

.navItem_link{
    font-size: 14px;
    font-weight: 600;
    line-height: 17px;
    background-color: transparent;
    color: var(--text-2-color);

    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    padding-top: 17px;
    z-index: 2;
    text-align: left;
    padding-left: 47px;

}

.navItem:hover .navItem_link{
    color: var(--text-1-color);
}

.navItem:hover{
    cursor: pointer;
    background-color: var(--primary-1-color);
    border-radius:8px;
}

.navItem.selected{
    background-color: var(--primary-1-color);
    border-radius:8px;
}
.navItem.selected .navItem_link{
    color: var(--text-1-color);
}

.iconDark{
    border-color: var(--dark-color);
}

.iconLight{
    border-color: var(--light-color);
}

.navItem_icon{
    position: absolute;
    left: 15px;
    top:50%;
    transform: translateY(-50%);
    z-index: 1;
}