.modal{
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(6, 6, 6,.5);
}

.btnClose{
    position: absolute;
    height: 50px;
    width: 50px;
    padding: 0;
    border: none;
    background-color: transparent;
    right: 50px;
    top:50px;
}
.iconClose{
    position: absolute;
    top:0;
}

.iconClose::after{
    position: absolute;
    content: '';
    width: 5px;
    height: 40px;
    background-color: #fff;
    transform: rotate(45deg);
}

.iconClose::before{
    position: absolute;
    content: '';
    width: 5px;
    height: 40px;
    background-color: #fff;
    transform: rotate(-45deg);
}