:root{

    /* color variable */
    --white-color:#FFFFFF;
    --black-color:#000000;
    --light-color:#F8F8F8;
    --dark-color:#201e34;
    --bg-dark-color:#1E1C30;
    --dark-2-color:#1C1A2E;
    --blue-color:#1884f1;
    --gray-color:#ccc;
    --success-color:#1b5e20;
    --success-light-color:rgb(27, 94, 32, .7);
    --error-color: #D32F2F;
    --danger-color: #C82333;
    --primary-color:#0069D9;
    --primary-1-color:#C8EE44;

    --warning-color: #E0A800;
    --info-color: #138496;
    --info-light-color: rgb(19, 132, 150, .7);
    --text-1-color: #1B212D;
    --text-2-color:  #929EAE;;
    --bg-light-color:#FAFAFA;

    /* width variable */
    --w-xs: auto;
    --w-sm: 750px;
    --w-md: 970px;
    --w-lg: 1170px;

    /* padding icon and  variable */
    --p-sm: 36px;
    --p-xs: 24px;
    --p-md: 48px;
    --p-lg: 80px;
}