:root{

    /* color variable */
    --white-color:#FFFFFF;
    --black-color:#000000;

    --dark-1-color:#201e34;
    --dark-2-color:#282541;
    --dark-shade-color:#1E1C30;
    --dark-bg--color:#1C1A2E;
    --dark-Key-black:#363A3F;
    
    --primary-color:#C8EE44;
    --secondary-color:#29A073;

    --text-1-color: #1B212D;
    --text-2-color:  #929EAE;
    --text-3-color:  #78778B;

    --status-error-color:#E5363D;
    --status-success-color:#19D076;
    

    --gray-1-color:#FAFAFA;
    --gray-2-color:#F8F8F8;
    --gray-3-color:#F5F5F5;
    --gray-4-color:#FDFDFD;
    --gray-5-color:#F2F2F2;

    /* width variable */
    --w-xs: auto;
    --w-sm: 750px;
    --w-md: 970px;
    --w-lg: 1170px;

    /* padding icon and  variable */
    --p-sm: 36px;
    --p-xs: 24px;
    --p-md: 48px;
    --p-lg: 80px;

    /* fontSize variable */

    --f-nm: 12px;
    --f-ex-nm:13px;
    --f-md: 14px;
    --f-lg: 16px;
    --f-x-lg: 18px;
    --f-xx-lg: 20px;

}