/* #root{
    height: 100vh;
    width: 100vw;
} */

main.main-container
{
    display: flex;
}

main.main-container > div.main-section{
  width: calc(100% - 255px);
  height: 100vh;
  padding: 36px 33px 30px 30px;
  overflow: scroll;
}
main.main-container > div.main-section section{
  margin-top: 56px;
}


/* main[data-login=true]
{
    display: flex;
    height: 100%;
    width: 100%;
} 

main[data-login=true] nav{
    width: 255px;
}

main[data-login=true] .main-container{
    background-color: #FFFF;
    width: calc(100% - 255px);
    padding: 36px 33px 30px 30px;
}

main[data-login=true] .main-container section{
    margin-top: 56px;
} */