.dropdown{
    position: relative;
    display: inline-block;
}

.hide{
    display: none;
}

.dropdown-menu{
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--white-color);
    padding: 10px 10px;
    border-radius: 8px;
    box-shadow: 0 0 5px var(--dark-color);
}



.dropdown-item{
    color: var(--dark-color);
    font-size: 16px;
    padding: 5px 10px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
}

.dropdown-item:not(:last-child){
    border-bottom: 1px solid var(--light-color);
}

.dropdown-item:hover{
    color: var(--white-color);
    background-color: var(--dark-color);
    border-radius: 5px;
}
