@use './variables' as v

html,
body 
  font-family: "Mulish", sans-serif
  font-style: normal
  width: 100vw
  height: 100vh

#root
  height: 100%
  
form
  width: max-content
  display: flex
  flex-direction: column
  gap: 20px
.form__group
  position: relative
  display: flex
  flex-direction: column
  align-items: stretch
  width: 100%
  text-align: left
  gap: 6px
  span> span:first-child>span
    text-transform: uppercase
  &.invalid
    .form__message
      color: v.$red-color
      font-weight: v.$font-weight-regular
      font-size: v.$font-size-s
    .form__control
      border: 1px solid v.$red-color
      box-shadow: 0 0 2px v.$red-color
    .form__label
      &__text
        color: v.$red-color
  .form__label
    display: flex
    justify-content: space-between
    &__text
      font-weight: v.$font-weight-bold
      font-size: v.$font-size-xs
    a
      text-decoration: none
      .form-lable__password,.form-message
        font-weight: v.$font-weight-regular
        font-size: v.$font-size-xs
        color: v.$gray-color
      &:hover
        text-decoration: underline
        .form-lable__password
          color: v.$blue-color
  .form__control
    padding: 11px 8px 11px 16px
    background-color: #FCFDFE
    border: 1px solid v.$gray-color
    border-radius: 8px
    font-size: 14px
    font-weight: 400
    color: v.$text-gray-dark-color
    &:disabled
      background-color: v.$text-gray-light-color
    &:focus-visible
      outline: none
    &::placeholder
      color: v.$text-gray-dark-color
  .hide
    position: absolute
    top: 40px
    right: 16px
    cursor: pointer

// // Usage
// nav 
//     width: 100%
//     @include small-screen 
//         display: none
    