*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: "Mulish", sans-serif;
    font-style: normal;
}

body {
    background-color: var(--background-color);
}
