.flex
    display: flex
    justify-content: flex-start
    align-items: center
    flex-wrap: wrap
    &-col
        flex-direction: column
        justify-content: center
    &[data-gap]
        gap: attr(data-gap)
    
    