.text{
    font-size: 12px;
    font-weight: 500;
    text-align: left;
    line-height: .9rem;
    font-family: 'Montserrat', sans-serif;
}

.dark{
    color: var(--dark-color);
}

.light{
    color: var(--light-color);
}