.topBar{
    justify-content: space-between;
}


.topBar_right{
    gap:45px;
}

.topBar_icon{
    gap:22px;
    border-radius: 100px;
}

.topBar_name{
    gap: 12px;
    padding: 6px 6px 6px 7px;
}

.topBar_dropdown{
    padding-right: 15.5px;
}

.topBar_icon-dark{
    background-color: var(--dark-1-color);
    color:var(--light-color);
}

.topBar_icon-light{
    background-color: var(--gray-1-color);
    color:var(--dark-color);

}


