.input-group
    position: relative
    display: flex
    flex-direction: column
    align-items: stretch
    text-align: left
    gap: 6px
    span> span:first-child 
        text-transform: uppercase
    .input-label
        display: flex
        justify-content: space-between
        a
            text-decoration: none
            &:hover
                text-decoration: underline
                &>*
                    color: var(--blue-color)
    .input-control
        padding: 11px 8px 11px 16px
        background-color: var(--extra-light-color)
        border: 1px solid var(--gray-lightest-color)
        border-radius: 8px
        font-size: 14px
        font-weight: 400
        color: var(--gray-dark-color)
        &:focus-visible
            outline: none
        &::placeholder
            color: var(--gray-dark-color)
    .hide
        position: absolute
        bottom: 11px
        right: 16px
        cursor: pointer