.icon{
    display: block;
}

img{
    width: 100%;
}

.dark{
    border-color: var(--dark-color);
}

.light{
    border-color: var(--light-color);
}
.icon-xs{
    width: var(--icon-xs);
}

.icon-sm{
    width: var(--icon-sm);
}

.icon-md{
    width: var(--icon-md);
}

.icon-lg{
    width: var(--icon-lg);
}