.logo{
    display: flex;
    align-items: center;
    gap: 12px;
}

.logo figcaption{
    font-family: 'Gorditas', cursive;
    font-size: 18px;
    line-height: 26px;
    font-weight: 700;
}

.logo{

}

.logo_text{
    color: var(--text-1-color);
}

.logo_text-light{
    color: var(--white-color);
}